<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180158879751-4qa3vrqv09stj0uv1uafhsf075mf5c38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180158879751-4qa3vrqv09stj0uv1uafhsf075mf5c38</string>
	<key>API_KEY</key>
	<string>AIzaSyCe84bKu1VOmn_PQnTLMW39Eytwb_7g7SU</string>
	<key>GCM_SENDER_ID</key>
	<string>180158879751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ifgab1.projectGet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-abc12</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-abc12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180158879751:ios:bd501468701b214ad732a2</string>
</dict>
</plist>